//  Colors

$bodyBg: #FCFCFC;
$textColor: #262626;
$linkColor: #55b3f3;
$linkColorHover: darken($linkColor, 20%);

$fontFamily: 'Poppins', sans-serif;

$fontSize: 16px;
$fontWeight: 500;
$lineHeight: 1.2;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1180px
);