/* My first comment */
header{
    width: 1445px;
    height: 37px;
}
.nav-menu{
    margin: auto;
    width: 50%;
    padding: 10px;

}
.top-info{
    height: 731px;
}
.top-info h1{
    
}
.top-info p{
    text-align: center;
}
.top-image{
    width: 943.61px;
    height: 387px;
    margin: auto;
}
.about-me{
    width: 1445px;
    height: 506px;
    background-color: #F6F6F6;
}
.about-me h2{
    padding-top: 120.25px;
    margin: 0;
    font-size: 34px;
    text-align: center;
}

.about-me p{
    padding-top: 34px;
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.skills{
    width: 1445px;
    height: 610px;
}
.skills h2{
    padding-top: 91px;
    margin: 0;
    font-size: 34px;
    text-align: center;
}
.skills p{
    padding-top: 69px;
    margin: 0;
    font-size: 18px;
    text-align: center;
}
.skills-images{
    padding: 90px 256px 110px 256px;
}
.portfolio{
    background-color: #F6F6F6;
}